/* --- GENERAL --- */ 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
}

h4 {
  font-size: 17px;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 10px;
}

.fas {
  font-size: larger;
}

p {
  font-size: 1em;
  margin: 0px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}


/* --- STYLE FOR HEADER --- */ 
header {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  }
.logo-header {
   width: 70%;
}
.logo-header .mbl {
  display: none;  
}
.menu-header {
  width: 30%;
}
  
nav > a {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 42px;
  text-decoration: none;
  color: black;
}
nav > a:hover {
  font-size: 18px;
  background-color: #F2F2F2;
}
nav > a.active {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 42px;
  text-decoration: none;
  color: #0065FC;
  border-top: solid 2px #0065FC ;
}
nav > a.signing {
  font-weight: bold;
  color: #0065FC;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* --- STYLE FOR SECTION 1 (FILTERS) --- */ 

#search {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.input-search {
  margin-top: 15px;
  margin-bottom: 10px;
}

.search-trigger-mbl {
  display: none;
}

.search-form {
  font-family: 'Raleway', sans-serif;
  display: flex;
}

.map-marker {
  order: 1;
  width: 45px;
  height: 45px;
  padding-top: 12px;
  padding-left: 17px;
  background: #F2F2F2;
  color: black;
  border: 1px solid #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-city {
  order: 2;
  width: 210px;
  height: 45px;
  padding: 10px;
  background: #ffffff;
  color: black;
  border: 1px solid #F2F2F2;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.search-trigger {
  order: 3;
  width: 120px;
  height: 45px;
  padding: 10px;
  background: #0065FC;
  color: white;
  border: 1px solid #0065FC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.filters-search {
  margin-top: 15px;
  margin-bottom: 30px;
}

.filters-form {
  font-weight: bold;
  display: flex;
}

.filters-text {
  margin-top: 15px;
}

.filters-box {
  border: 2px solid #D9D9D9;
  border-left: none ;
  border-radius: 90px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-box:hover{
  border: 2px solid #0065FC;
}


 
.filters-icon {
  background-color: #DEEBFF;
  border: none;
  border-radius: 90px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.filters-icon > .fas {
  color: #0065FC;
}

.filters-checkbox {
  display: none;
}

.filters-label {
  border-radius: 90px;
  margin-right: 10px;
}


.filters-box input[type="checkbox"] {
  display: none;
}

/* --- STYLE FOR SECTION 2 (RENTALS) --- */ 

#rentals {
  display: flex;
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 25px;
}

 .popular {
  order: 2;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 15px 40px 5px 40px;
  border-radius: 15px;
}

.rentals-container {
  background-color: #F2F2F2;
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  margin-right: 35px;
}

.rentals-display {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rental-link-card-side {
  margin: 15px 5px 15px 5px;
}

.fa-chart-line {
  position: absolute;
  right: 80px;
}

.side-rental-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  width: 460px;
  height: 200px;
  border-radius: 15px;
  
}

.side-rental-card-image {
  float: left;
  border-radius: 15px 0 0 15px;
  padding: 5px 5px 5px 5px;
  object-fit: cover;
  width: 170px;
  height: 200px;
}

.side-rental-card-caption {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 15px;
  padding: 2px 16px;
}

.side-rental-card-notation {
  margin-top: 50px;
}

.rental-link-card {
  height: 270px;
  margin: 15px 15px 15px 15px;
}

.rental-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  width: 330px;
  height: 270px;
  border-radius: 15px;
  margin: 5px 10px 10px 10px;
}

.rental-card-image {
  border-radius: 15px 15px 0 0;
  padding: 5px 5px 5px 5px;
  object-fit: cover;
  width: 330px;
  height: 160px;
}

.rental-card-caption {
  width: 330px;
  height: 110px;
  margin-top: 0px;
  padding: 2px 16px;
}

.checked {
  color: #0065FC;
  font-size: 19px !important;
}

.unchecked {
  color:#D9D9D9;
  font-size: 19px !important;
}

.display-more {
  margin-top: 50px;
  font-weight: 800;
  font-size: 18px;
}




/* --- STYLE FOR SECTION 3 (RENTALS) --- */ 
#activities {
  margin : 60px 25px 25px 25px;
}

.activities-row {
  margin-left: 20px;
}

.activities-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 650px;
}

.rental-link-card {
  height: 270px;
  margin: 15px 15px 15px 15px;
}

.activity-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 15px;
  width: 410px;
  margin: 15px 15px 30px 15px;
}

.activity-card-image {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 410px;
}
.activity-card-caption {
  width: 410px;
  margin-top: 10px;
  padding: 2px 16px;
  height: 70px;
}

.activity-card-1 {
  order: 1;
  height: 610px;
}

.activity-card-image-1 {
  height: 540px;
}

.activity-card-2 {
  order: 2;
  height: 330px;
}

.activity-card-image-2 {
  height: 260px;
}

.activity-card-3 {
  order: 3;
  height: 230px;
}

.activity-card-image-3 {
  height: 160px;
}

.activity-card-4 {
  order: 4;
  height: 610px;
}

.activity-card-image-4 {
  height: 540px;
}

.activity-card-5 {
  order: 5;
  height: 280px;
}

.activity-card-image-5 {
  height: 210px;
}

.activity-card-6 {
  order: 6;
  height: 280px;
}

.activity-card-image-6 {
  height: 210px;
}


/* --- STYLE FOR FOOTER --- */ 
footer {
  display: flex;
  justify-content: space-between;
  height: 200px;
  background-color: #F2F2F2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
}

.col-footer {
  width: 33%;
}

.list-footer {
  list-style: none;
  padding-left: 0;
}

.list-footer > li {
  padding-bottom: 10px;
}

.list-footer > li > a {
  text-decoration: none;
  color: black;
}
